body{
    background-color: #15133C /* #607EAA; */
}

hr{
  border-color: #EC994B;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
}

h1{
  color: #EC994B;
}

h3{
  color: #EC994B;
}

p{
  color: #F1EEE9;
}

ul li{
  color: #F1EEE9;
}

ol li{
  color: #F1EEE9;
}

table{
  color:  #F1EEE9;
}
